.groom-card{
  width: 300px;
  display: flex;
  flex-direction: column;

}
.groom-img{
  width: 300px;
  height: 200px;
}
.groom-info{
  display: flex;
  flex-direction: column;
}
.groom-info h3{
  font-size: 25px;
}