.health-card{
  display: flex;
  justify-content: space-between;
  width: 300px;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #1C1212;
  border-radius: 15px;
}
.health-img img{
  width: 300px;
  margin-bottom: 40px;
  border-radius: 15px;
}
.health-info h3{
  margin-bottom: 20px;
  font-size: 25px;
}

.health-info p{
  font-size: 17px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.learn-btn{
  padding: 12px 17px;
  background-color: red;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  font-size: 16px;
}

@media (min-width: 835px) {
  .health-card{
    width: 500px ;
    
    align-items: center;
  }
  /* .health-info{
    width: 50%;
  } */
  .health-img img{
    width: 490px;
  }
  .health-info p {
      font-size: 22px;
  }
  .health-info h3{
    font-size: 27px;
  }
  .learn-btn{
    font-size: 18px;
  }
}
/* @media (min-width:1024px) {
  .health-card{
    justify-content: space-between;
  }
  .health-info{
    width: 60%;
  } */
/* } */

/* @media (min-width:1320px) {
  .health-card{
    width: 1220px;
  }
} */