.health-sect{
  background-color: #110A0A;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
  padding-left: 10px;
  padding-bottom: 50px;
}
.health-head h1{
  text-align: center;
  margin-bottom: 50px;
  width: 100%;
}
.health-card-cont{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media (min-width:750px) {
  .health-head h1{
    font-size: 40px;
  }
}

