
.pet-products-page {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #eec47c;
  color: #333;
}


.header {
  margin-bottom: 30px;
}

.title {
  text-align: center;
  font-size: 4.5em;
  color: #7F4C51;
  margin-bottom: 20px;
}

.search-and-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.search-input {
  width: 400px;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 1em;
  transition: all 0.3s ease;
}

.search-input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
}

.filters {
  display: flex;
  gap: 10px;
}

.filter-select {
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 25px;
  background-color: #fff;
  cursor: pointer;
  appearance: none; 
}


.product-grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  justify-content: center;
}

.product-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.product-name {
  font-size: 1.2em;
  margin-bottom: 5px;
  font-weight: bold;
}

.product-price {
  font-size: 1.1em;
  color: #e94e77;
  font-weight: 600;
  margin-bottom: 15px;
}

.buy-button {
  background-color: #7F4C51;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buy-button:hover {
  background-color: #FFE3B3;
}