.profile-cont{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  flex-direction: column;
  padding-top: 200px;
  width: 100%;
  
  height: 70vh;
  background: linear-gradient(to left, #FFE3B3, #f8bc54);
}
.profile-img{
  order: -1;
  margin-bottom: 20px;
}
.profile-img img{
   width: 300px;
   height: 300px;
   object-fit: cover;
   border-radius: 100%;
}
.line{
  width: 100%;
  height: 2px;
  margin-top: -30px;
  background-color: black;
}
.profile-info{
  border: 2px solid;
  border-radius: 15px;
  width: 90%;
  padding: 15px;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  
}
.profile-info b{
   font-size: 20px;
}
.profile-info h1{
  font-size: 39px;
  margin-bottom: 20px;
  background-color: #FFE3B3;
  padding: 20px;
  border-radius: 10px;
}
.info {
  font-size: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;

}
.name-age{
display: flex;
justify-content: space-between;
  font-weight: 600;
  font-size: 24px;  
  margin-bottom: 20px;
}



@media (min-width: 501px) {
  
  .profile-info h1{
    width: 300px;
    text-align: center;
  }
  .profile-info p{
    font-size: 20px;
  }
}

@media (min-width:700px) {
  .profile-info b{
    font-size: 24px;
  
  }
  .profile-info h1{
    font-size: 43px;
    width: 350px;
    
  }
  .profile-info p{
   margin-bottom: 17px;
  }
}

@media (min-width: 1000px) {
  .profile-cont{
    flex-direction: row;
   justify-content: space-evenly;
   align-items: flex-start;
  }
  .profile-info{
    width: 50%;
  }
  
}


@media (min-width:1500px) {
  .profile-cont{
    /* width: 70%; */
    margin: 0 auto;
  }
  .profile-info{
    width: 40%;
  }
  
}